* 
{
    max-width: 100%;
}

.nav-bar-logo
{
    min-width: 50px;
    width: 50px;
}

.icon
{
    width: 50px;
}

.nav-item span
{
    font-size: 16px;
}

.navigation-bar
{
    position: sticky;
    top: 0;
    max-height: 100vh;
    background-color: #292f3d;
}

.profile-card
{
    background-color: #292f3d !important;
}

.user-button>.btn
{
    border-radius: 8px;
    border-width: 0;
    background-color: #585d68;
}
.user-button>.btn:hover
{
    color: #95f6cd;
    background-color: #414652;
}

.exit-button>form
{
    margin: 0px !important;
}

.primary-button
{
    color: #292929 !important;
}

.primary-button:hover,
.primary-button:focus
{
    color: #292929 !important;
}

.logout-button:hover,
.nav-link:hover,
.collapse-button:hover
{
    color: #95f6cd;
}

.main-page-header
{
    border: 1px solid white;
    border-radius: 8px;
    margin: 24px 32px 0 32px;
}

.main-page-container
{
    min-width: 100% !important;
    min-height: 100% !important;
    margin: 40px 0 !important;
    padding: 0 32px !important;
}

.page-cards
{
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.page-card-title
{
    border: 1px solid white;
    background-color: #292f3d;
    border-radius: 20px;
}
.page-card-body
{
    background-color: #414652;
    border-radius: 20px;
}

.inspirational-quote-container
{
    font-size: 30px;
    font-family: 'Sriracha', cursive;
}

.day-check,
.day-not-check
{
    min-width: 30px !important;
    max-width: 30px !important;
    min-height: 30px !important;
    max-height: 30px !important;
    border-radius: 30px !important;
}
.day-check>img
{
    min-width: 30px !important;
    max-width: 30px !important;
    min-height: 30px !important;
    max-height: 30px !important;
}
.day-not-check
{
    background-color: white;
    opacity: 25%;
}
.color-marked
{
    background-color: #95f6cd !important;
}

.month-container
{
    max-width: fit-content;
}

.days-week
{
    font-size: 14px;
    font-weight: bold;
}
.days-week div
{
    max-width: fit-content;
    min-width: 40px;
    margin-right: 20px !important;
}

.week-data
{
    max-width: fit-content;
}
.week-data .col
{
    margin-right: 20px;
    min-width: 40px;
    width: 100%;
}

.week-data .col .row
{
    width: 100%;
}

.day-number
{
    min-width: 100%;
}

.form-container,
.month-container-bg
{
    height: fit-content;
    background-color: #292f3d !important;
    padding: 20px 20px;
    border-radius: 20px;
    margin: 0 15px;
}

.mood-today-set,
.mood-today-not-set
{
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
    border-radius: 150px;
}
.mood-today-not-set
{
    background-color: white;
    opacity: 25%;
}

.habit-name
{
    font-weight: bold;
    font-size: large;
}
.habit-title:hover
{
    color: red !important;
}

.add-habit-log
{
    color: #95f6cd;
}

.input-header
{
    border: none !important;
    background: transparent !important;
    width: fit-content;
}

.selected-pic
{
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 50px;
    background-color: transparent;
    border: none;
}

form input[type=radio] {
    display: none;
    background-color: transparent;
}

form>fieldset>legend
{
    border-bottom: 1px solid;
}
  
.selected-pic:hover {
    opacity:0.6;
    cursor: pointer;
    background-color: transparent;
}

.selected-pic:active {
    opacity:0.4;
    cursor: pointer;
}

form input[type=radio]:checked + label > img {
    background-color: transparent;
    opacity:0.2;
}
.submit-button
{
    background-color: #585d68 !important;
    color: white;
    border-radius: 8px;
}
.submit-button:hover
{
    background-color: #414652 !important;
    color: #95f6cd;
}

.textarea-form
{
    border: none !important;
    border-radius: 25px;
    display: flex !important;
    font-size: 22px !important;
    line-height: 50px !important;
    margin: 2% auto !important;
    padding: 17px 70px 0 70px !important;
    resize: none !important;
    min-height: 689px !important;
    width: 100% !important;
    color: #292929 !important;

    background-image: -moz-linear-gradient(top, transparent, transparent 49px, #76c3ff 0px); 
    background-image: -webkit-linear-gradient(top, transparent, transparent 49px,#76c3ff 0);

    -webkit-background-size: 100% 50px;
    background-size: 100% 50px;
    overflow-y: hidden;
}
.title-form
{
    border: none !important;
    border-radius: 25px !important;
    display: flex !important;
    font-size: 22px !important;
    font-weight: bolder !important;
    margin: 2% auto !important;
    line-height: 22px;
    padding: auto 70px !important;
    resize: none !important;
    height: fit-content !important;
    width: 100% !important;
    color: white !important;
    background-color: #292f3d !important;
}

input[disabled=disabled]
{
    opacity: 25% !important;
}

.journal-nav-button
{
    min-width: fit-content;
}

@media (max-width: 768px)
{
    .navigation-bar {
        width: 50px;
    }
}