* 
{
    max-width: 100%;
}

.nav-bar-logo
{
    width: 30%;
}

.icon
{
    width: 50px;
}

.nav-item span
{
    font-size: 16px;
}

.navigation-bar
{
    position: sticky;
    top: 0;
    max-height: 100vh;
    background-color: #292f3d;
}

.profile-card
{
    background-color: #292f3d !important;
}

.user-button>.btn
{
    border-radius: 8px;
    border-width: 0;
    background-color: #585d68;
}
.user-button>.btn:hover
{
    color: #95f6cd;
    background-color: #414652;
}

.primary-button
{
    color: #292929 !important;
}

.primary-button:hover,
.primary-button:focus
{
    color: #292929 !important;
}

.logout-button:hover,
.nav-link:hover,
.collapse-button:hover
{
    color: #95f6cd;
}

.main-page-header
{
    border: 1px solid white;
    border-radius: 8px;
    margin: 24px 32px 0 32px;
}

.main-page-container
{
    margin: 0 32px 0 32px;
}